<div class="container">

    <div class="row">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Hotel App!</h1>
                <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui illum voluptatem
                    eos aspernatur. </p>
                <a class="btn btn-primary btn-lg" routerLink="/room/new" role="button">Book</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm-3" *ngFor="let room of roomList">
            <div class="card-body">
                <h5 class="card-title">Room:</h5>
                <p>Room: {{ room.id }}</p>
                <p>Price: ${{ room.price }}</p>
            </div>
        </div>
    </div>
 
</div>