<div class="container">

    <div class="row">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Hotel App!</h1>
                <p class="col-md-8 fs-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui illum voluptatem
                    eos aspernatur. </p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="card col-sm-3" *ngFor="let reservation of reservationList">
            <div class="card-body">
                <h5 class="card-title">Reservation</h5>
                <p class="card-text">Room: {{ reservation.roomId }}</p>
                <p class="card-text">Start date: {{ reservation.startDate }}</p>
                <p class="card-text">End date: {{ reservation.endDate }}</p>
                <p class="card-text">Customer name: {{ reservation.customer.name }}</p>
                <p class="card-text">Customer last name: {{ reservation.customer.lastName }}</p>
                <a routerLink="/reservations/{{ reservation.id }}" class="btn btn-primary btn-block card-link">Update</a>
                <a class="btn btn-danger btn-block card-link" (click)="handledCancelReservation(reservation)">Cancel</a>
            </div>
        </div>

    </div>

</div>