<div class="container">
    <a routerLink="/room">Go back</a>
    <div class="row">
        <div class="col-md-12">
            <h1>Book room</h1>
        </div>
        <form class="col-md-6 offset-md-3" [formGroup]="bookingForm" (ngSubmit)="handleBookRoom()">
            <div class="form-group row mb-3">
                <label for="staticName" class="col-sm-2 col-form-label">Customer name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="name"
                        [value]="customerName" readonly>
                    <div class="invalid-feedback">
                        <div>Name is required</div>
                    </div>
                </div>
            </div> 
            <div class="form-group row mb-3">
                <label for="staticLastName" class="col-sm-2 col-form-label">Customer last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter last name" formControlName="lastName" 
                        [value]="customerLastName" readonly/>
                    <div class="invalid-feedback">
                        <div>Last name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="staticStartDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Enter start date" formControlName="startDate"
                        [ngClass]="{ 'is-invalid': bookingForm.get('startDate')?.touched && bookingForm.get('startDate')?.invalid }" 
                        [value]="reservation.startDate"/>
                    <div class="invalid-feedback">
                        <div>{{ startDateMessage }}</div>
                        <div>{{ reservationDatesMessage }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="staticEndDate" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Enter end date" formControlName="endDate"
                        [ngClass]="{ 'is-invalid': bookingForm.get('endDate')?.touched && bookingForm.get('endDate')?.invalid }" 
                        [value]="reservation.endDate"/>
                    <div class="invalid-feedback">
                        <div>{{ endDateMessage }}</div>
                        <div>{{ reservationDatesMessage }}</div>
                    </div>
                </div>
            </div>
            
            <div class="alert alert-success" *ngIf="isSaved">
                Saved Successfully
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary" [disabled]="bookingForm.invalid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
