<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" aria-current="page" routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">Hotel App
        <img src="assets/index.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/room" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/reservations" routerLinkActive="active">Reservations</a>
        </div>
      </div>
    </div>
  </nav>

